## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List Data Science Tools
- List some of the popular languages that data scientists use
- List some of the commonly used libraries used by data scientists
- Run some simple arithmetic in python

## Author
Stefan Diaconu

Some of the popular languages that Data Scientists use are:
1.  Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn

## Data Science Tools
|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|Google Colab|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335